# Exercício Sobre Seleções

In [9]:
import pandas as pd

## Criar DataFrama

In [10]:
alunos = pd.DataFrame({'Nome': ['Ary', 'Cátia', 'Denis', 'Beto', 'Bruna', 'Dara', 'Carlos', 'Alice'], 
                        'Sexo': ['M', 'F', 'M', 'M', 'F', 'F', 'M', 'F'], 
                        'Idade': [15, 27, 56, 32, 42, 21, 19, 35], 
                        'Notas': [7.5, 2.5, 5.0, 10, 8.2, 7, 6, 5.6], 
                        'Aprovado': [True, False, False, True, True, True, False, False]}, 
                        columns = ['Nome', 'Idade', 'Sexo', 'Notas', 'Aprovado'])

In [11]:
alunos

     Nome  Idade Sexo  Notas  Aprovado
0     Ary     15    M    7.5      True
1   Cátia     27    F    2.5     False
2   Denis     56    M    5.0     False
3    Beto     32    M   10.0      True
4   Bruna     42    F    8.2      True
5    Dara     21    F    7.0      True
6  Carlos     19    M    6.0     False
7   Alice     35    F    5.6     False

## Organizar DataFrma

In [12]:
alunos.sort_values(by=['Nome', 'Sexo'],inplace=True)

In [13]:
alunos

     Nome  Idade Sexo  Notas  Aprovado
7   Alice     35    F    5.6     False
0     Ary     15    M    7.5      True
3    Beto     32    M   10.0      True
4   Bruna     42    F    8.2      True
6  Carlos     19    M    6.0     False
1   Cátia     27    F    2.5     False
5    Dara     21    F    7.0      True
2   Denis     56    M    5.0     False

###Crie um DataFrame somente com os alunos aprovados.

In [21]:
selecao = alunos['Aprovado'] == True
selecao

7    False
0     True
3     True
4     True
6    False
1    False
5     True
2    False
Name: Aprovado, dtype: bool

In [22]:
alunos_aprovados = pd.DataFrame(data = alunos[selecao])
alunos_aprovados.drop(columns="Aprovado", inplace = True)
alunos_aprovados

    Nome  Idade Sexo  Notas
0    Ary     15    M    7.5
3   Beto     32    M   10.0
4  Bruna     42    F    8.2
5   Dara     21    F    7.0

###Crie um DataFrame somente com as alunas aprovadas.

In [27]:
alunas_aprovadas = alunos.query("Aprovado==True&Sexo=='F'")
alunas_aprovadas

    Nome  Idade Sexo  Notas  Aprovado
4  Bruna     42    F    8.2      True
5   Dara     21    F    7.0      True

###Crie apenas uma visualização dos alunos com idade entre 10 e 20 anos ou com idade maior ou igual a 40 anos.

In [31]:
alunos_idade = alunos.query("Idade>10&Idade<20 | Idade>=40")
alunos_idade

     Nome  Idade Sexo  Notas  Aprovado
0     Ary     15    M    7.5      True
4   Bruna     42    F    8.2      True
6  Carlos     19    M    6.0     False
2   Denis     56    M    5.0     False

###Crie um DataFrame somente com os alunos reprovados e mantenha neste DataFrame apenas as colunas Nome, Sexo e Idade, nesta ordem.

In [33]:
reprovados = alunos.query("Aprovado==False")
reprovados = reprovados[["Nome", "Sexo", "Idade"]]
reprovados

     Nome Sexo  Idade
7   Alice    F     35
6  Carlos    M     19
1   Cátia    F     27
2   Denis    M     56

In [44]:
selecao = alunos["Aprovado"] == False
print(selecao)
reprovados = alunos.loc[selecao,["Nome","Sexo","Idade"]]
reprovados

7     True
0    False
3    False
4    False
6     True
1     True
5    False
2     True
Name: Aprovado, dtype: bool

     Nome Sexo  Idade
7   Alice    F     35
6  Carlos    M     19
1   Cátia    F     27
2   Denis    M     56

###Crie uma visualização com os três alunos mais novos.

In [49]:
alunos_mais_novos = alunos.sort_values(by="Idade")
alunos_mais_novos_primeiros.iloc[:3]

     Nome  Idade Sexo  Notas  Aprovado
0     Ary     15    M    7.5      True
6  Carlos     19    M    6.0     False
5    Dara     21    F    7.0      True